.container {
  background-image: url(../Images/backdrop.jpg);
  height: 80%;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.heading {
  color: pink;
}
